/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color: #1a1a1a;

  /* header__theme-menu-button  */
  --button-color: #ff0070;
  --button-border: 1px solid #ff0070;
  --button-border-hover: 1px solid rgba(255, 0, 112, 0.4);
}
