:root.theme-light {
  --main-bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --decorated-bg-color: var(--accent-color);
  --decorated-text-color: #353430;
  --corner-color: #353430;
  --button-color: #353430;
  --button-border-color: #353430;
  --button-border-hover-color: rgba(50, 49, 45, 0.4);
  --page-bg-image: url("../images/cover-image-light.png");
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark):not(.theme-light) {
    --main-bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --decorated-bg-color: var(--accent-color);
    --decorated-text-color: #353430;
    --corner-color: #353430;
    --button-color: #353430;
    --button-border-color: #353430;
    --button-border-hover-color: rgba(50, 49, 45, 0.4);
    --page-bg-image: url("../images/cover-image-light.png");
    --rec-display: none;
  }
}
