/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #fff3eb;
  /* header__theme-menu-button  */
  --button-color: #353430;
  --button-border: 1px solid #353430;
}
