/*
  Специально для светлой темы при наличии класса.
  Здесь только переопределение переменных
*/

:root.theme-light {
  --main-bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --decorated-bg-color: var(--accent-color);
  --decorated-text-color: #353430;
  --corner-color: #353430;
  --button-color: #353430;
  --button-border-color: #353430;
  --button-border-hover-color: rgba(50, 49, 45, 0.4);
  --page-bg-image: url("../images/cover-image-light.png");
}

:root.theme-light .rec-label {
  display: none;
}

/* Медиа-запрос для автоматической светлой темы */
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --decorated-bg-color: var(--accent-color);
    --decorated-text-color: #353430;
    --corner-color: #353430;
    --button-color: #353430;
    --button-border-color: #353430;
    --button-border-hover-color: rgba(50, 49, 45, 0.4);
    --page-bg-image: url("../images/cover-image-light.png");
  }

  .rec-label {
    display: none;
  }
}
