/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* * {
  border: 1px solid red;
} */

body {
  background: var(--main-bg-color);
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family);
  max-inline-size: 1024px;
  padding: 10px;
  background-color: var(--main-bg-color);

  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  position: relative;
  block-size: calc(100vh - 10px - 10px);
}

/*  decorated-zone - рамка переиспользуемая */

.decorated-zone {
  position: relative;
}

/* Правый верхний уголок */
.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25.04px;
  height: 25px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);

  pointer-events: none;
}

/* Левый нижний уголок */
.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25.04px;
  height: 25px;

  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);

  pointer-events: none;
}

.rec-label {
  position: absolute;
  right: 9px;

  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: var(--decorated-bg-color);
  gap: 10px;
  display: inline-flex;
  align-items: center;
  justify-self: end;
  width: 52px;
  height: 26px;
}

.rec-label::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;

  background-color: var(--decorated-bg-color);

  box-shadow: 0 0 4px 2px var(--decorated-bg-color),
    0 0 9px 4px rgba(255, 0, 112, 0.5);
}

.header__theme-menu {
  margin-top: 65px;
  display: flex;
  justify-content: flex-end;
}

.header__theme__menu-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--decorated-bg-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  width: 70px;
  height: 26px;
  background: transparent;

  color: var(--button-color);
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border: var(--button-border);
}

.header__theme-menu-button:hover {
  border: var(--button-border-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: var(--button-border);
  outline: none;
}

/* header-title */

.header__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px var(--decorated-bg-color);

  margin-top: 65px;
}

.header__subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;

  max-inline-size: 355px;
  inline-size: 100%;
  margin: 55px 0px 56px;
}

@media (min-width: 768px) {
  .page {
    padding: 20px;
  }

  .header {
    block-size: calc(100vh - 20px - 20px);
  }

  .header__theme-menu {
    margin-top: 172px;
  }
  .header__title {
    margin-top: 173px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
    justify-self: start;
  }

  .header__subtitle {
    margin-top: 152px;
    justify-self: end;

    max-inline-size: 364px;
    inline-size: 100%;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    min-block-size: calc(768px - 20px - 20px);
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    justify-content: center;
    margin-top: 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__title {
    margin-top: 273px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
    justify-self: start;
    grid-column: 1 / 3;
  }

  .header__subtitle {
    margin-top: 114px;
    justify-self: end;
    max-inline-size: 491px;
    inline-size: 100%;
    grid-column: 1 / 3;
  }
}

/* Main content */

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-top: 50px;
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content-section__title {
  font-style: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--corner-color);
}

.text-blocks {
  display: grid;
  gap: 20px;
}

.text-block__heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.text-block__heading_advice {
  font-weight: 400;
}

.content-section__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.content-section__subtitle_advice {
  font-weight: 700;
}

.text-block__paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
}

.gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.gallery__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  /* justify-self: stretch;
  align-self: stretch; */
}

@media (min-width: 768px) {
  .content {
    margin-top: 80px;
    gap: 80px;
  }

  .content-section {
    gap: 0;
  }

  .why {
    grid-template-columns: 1fr minmax(472px, 1fr);
    grid-template-rows: 1fr;
  }

  .factors {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .advice {
    grid-template-columns: 1fr minmax(472px, 1fr);
    grid-template-rows: 1fr;
  }

  .content-section__title {
    max-inline-size: 236px;
  }

  .gallery .text-block__heading {
    margin-bottom: 20px;
  }

  .gallery__images {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows:
      minmax(192px, auto)
      minmax(230px, auto)
      minmax(318px, auto);
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

@media (min-width: 1024px) {
  .content-section__title {
    max-inline-size: 315px;
  }

  .why {
    grid-template-columns: 1fr minmax(648.92px, 1fr);
    grid-template-rows: 1fr;
  }

  .why .content-section__title {
    grid-row: 1 / 3;
  }

  .factors {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 20px;
  }

  .factors .content-section__title {
    grid-column: 1 / 4;
  }

  .factors .text-blocks {
    grid-column: 1 / 4;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advice {
    gap: 20px;
    grid-template-columns: 315px 1fr;
  }

  .gallery__images {
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows:
      minmax(260px, auto)
      minmax(315px, auto)
      minmax(433px, auto);
  }
}

.footer {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  inline-size: calc(100vw - 10px - 10px);
  block-size: 100vh;
  font-style: var(--font-family);
}

.footer__title {
  font-style: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px var(--decorated-bg-color);
}

@media (min-width: 768px) {
  .footer {
    margin-top: 80px;
    inline-size: calc(100vw - 20px - 20px);
    block-size: calc(100vh - 20px - 20px);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* стили написанные ниже приоритетней, необходимо для gallery, меньше кода */

.title-decor {
  color: var(--decorated-text-color);
  background: var(--decorated-bg-color);
}

.text-block__link {
  text-shadow: 2px 2px var(--decorated-bg-color);
}

.text-block__link {
  text-decoration: none; /* Убираем стандартное подчеркивание */
  color: inherit; /* Наследуем цвет текста */
}

.text-block__link:hover {
  border-bottom: 1px solid #f1b2ce;
}

.text-block__link:focus-visible {
  outline: none;
  border: 1px solid #f1b2ce;
}
