/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-inline-size: 1024px;
  background: var(--main-bg-color);
  background-color: var(--main-bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--font-family);
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
}

.decorated-zone::before {
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25.04px;
  block-size: 25px;
  border-block-start: 1px solid var(--corner-color);
  border-inline-end: 1px solid var(--corner-color);
  content: "";
  pointer-events: none;
}

.decorated-zone::after {
  position: absolute;
  left: 10px;
  bottom: 10px;
  inline-size: 25.04px;
  block-size: 25px;
  border-block-end: 1px solid var(--corner-color);
  border-inline-start: 1px solid var(--corner-color);
  content: "";
  pointer-events: none;
}

.title-decor {
  color: var(--decorated-text-color);
  background: var(--decorated-bg-color);
}

.rec-label {
  position: absolute;
  right: 19px;
  top: 10px;
  display: inline-flex;
  align-items: center;
  justify-self: end;
  gap: 10px;
  inline-size: 52px;
  block-size: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: var(--decorated-bg-color);
}

.rec-label::after {
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);

  content: "";
}

.header__theme-menu {
  margin-block-start: 65px;
  display: flex;
  justify-content: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  inline-size: 70px;
  block-size: 26px;
  background: transparent;
  border: 1px solid transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--button-color);
}

.header__theme-menu-button_active {
  border: var(--button-border);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: var(--button-border-hover);
}

.header__theme-menu-button:focus-visible {
  border-block-end: var(--button-border);
  outline: none;
}

.header__title {
  margin-block-start: 65px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px var(--decorated-bg-color);
}

.header__subtitle {
  margin-block-start: 55px;
  margin-block-end: 56px;
  max-inline-size: 355px;
  inline-size: 100%;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.content {
  margin-block-start: 40px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content-section__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--corner-color);
  font-style: var(--font-family);
}

.text-blocks {
  display: grid;
  gap: 20px;
}

.text-block__heading {
  margin-block-end: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.content-section__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.text-block__heading_advice {
  font-weight: 400;
}

.content-section__subtitle_advice {
  font-weight: 700;
}

.text-block__paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
}

.text-block__link {
  text-shadow: 2px 2px var(--decorated-bg-color);
  text-decoration: none;
  color: inherit;
}

.text-block__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.text-block__link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

.gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  margin-block-start: 40px;
  block-size: 100vh;
  min-block-size: 668px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px var(--decorated-bg-color);
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
    min-block-size: 1024px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec-label {
    right: 29px;
    top: 20px;
  }

  .header__theme-menu {
    margin-block-start: 172px;
  }

  .header__title {
    margin-block-start: 173px;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    justify-self: start;
  }

  .header__subtitle {
    margin-block-start: 162px;
    max-inline-size: 364px;
    inline-size: 100%;
    justify-self: end;
  }

  .content {
    margin-block-start: 60px;
    padding: 0 20px;
    gap: 80px;
  }

  .content-section {
    gap: 0;
  }

  .why {
    grid-template-columns: 1fr minmax(472px, 1fr);
    grid-template-rows: 1fr;
  }

  .factors {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .advice {
    grid-template-columns: 1fr minmax(472px, 1fr);
    grid-template-rows: 1fr;
  }

  .content-section__title {
    max-inline-size: 236px;
  }

  .gallery .text-block__heading {
    margin-block-end: 20px;
  }

  .gallery__images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(192px, auto) minmax(230px, auto) minmax(318px, auto);
    gap: 20px;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    margin-block-start: 60px;
    min-block-size: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);

    min-block-size: 768px;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-block-start: 0;
    display: grid;
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-block-start: 273px;
    margin-inline-start: -20px;
    grid-column: 1 / 3;
    justify-self: start;
  }

  .header__subtitle {
    margin-block-start: 114px;
    max-inline-size: 491px;
    inline-size: 100%;
    grid-column: 1 / 3;
    justify-self: end;
  }

  .content-section__title {
    max-inline-size: 315px;
  }

  .why {
    grid-template-columns: 1fr minmax(648.92px, 1fr);
    grid-template-rows: 1fr;
  }

  .why .content-section__title {
    grid-row: 1 / 3;
  }

  .factors {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    gap: 20px;
  }

  .factors .content-section__title {
    grid-column: 1 / 4;
  }

  .factors .text-blocks {
    grid-column: 1 / 4;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advice {
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }

  .gallery__images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(260px, auto) minmax(315px, auto) minmax(433px, auto);
  }
  .footer {
    min-block-size: 768px;
  }
}
