/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-bg-color);
  background-repeat: no-repeat;

  min-height: 100vh;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
